li{
list-style: none;
display: inline-block;
margin: 5px;
background-color: blue;
padding: 10px;
color: aqua;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li:hover{
background-color: aqua;
color: blue;
}
body{
background-color: blueviolet;
margin-left: 35%;
}
h1,p{
margin: 20px;
}
input, textarea, button{
background-color: blue;
display:block;
color:aqua;
width: 400px;
margin: 20px;
border-radius: 6px;
}
button:hover{
background-color: aqua;
color: blue;
}
button:active{
background-color: green;
color: aqua
}
#contact-footer{
margin-left: 13%;}
footer{
display: inline-block;
border-radius: 20px;
padding: 5px;
background-color: blue;
margin-left: 7%;
}

